.chat-input-form {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row: 3;
  gap: 25px;
  display: flex;
  width: 100%;
  height: 100%;
  place-items: center;
}

.chat-input-char-limit {
  position: absolute;

  pointer-events: none;

  color: gray;
  z-index: 1;

  width: 100%;

  text-align: end;

  margin-right: 10px;
  margin-left: -10px;
}

.chat-input-div {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: min-content;
  min-height: 100%;
  max-height: 200%;
}

.chat-input {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-radius: 30px;
  background-color: var(--primary-color);

  align-content: center;
  font-size: 15px;

  resize: none;

  scrollbar-width: none;
  overflow-y: auto;
  overflow-wrap: anywhere;

  box-shadow: 0px 0px 0px var(--secondary-color);
  transition: box-shadow 0.25s ease-in-out;

  min-height: 75px;
  max-height: 200px;

  padding-left: 25px;
  padding-right: 100px;

  flex-basis: 100%;
}

.chat-input-placeholder {
  position: absolute;

  pointer-events: none;

  font-family: Verdana, Geneva, Tahoma, sans-serif;

  align-content: center;
  font-size: 15px;

  scrollbar-width: none;
  resize: none;

  padding-left: 25px;
  padding-right: 100px;

  flex-basis: 100%;
  box-sizing: border-box;
}

.chat-send-button,
.chat-extras-button {
  align-self: end;
  font-size: 1rem;

  min-width: 75px;
  max-width: 75px;
  min-height: 75px;
  max-height: 75px;
  border-radius: 100%;

  background-color: var(--primary-color);
}
