.chat-input-form {
  view-transition-name: chat-input-form;
  grid-row: 2;
  gap: 10px;

  background-color: var(--primary);
  border-radius: 30px;

  box-sizing: border-box;

  justify-items: center;

  display: flex;

  --input-size: 60px;
  --max-input-size: 200px;
  --input-padding: 25px;
}

.chat-input-div {
  display: flex;
  align-items: center;
  align-self: center;
  width: 100%;
  min-height: var(--input-size);
  max-height: var(--max-input-size);
}

.chat-input {
  font-family: Verdana, Geneva, Tahoma, sans-serif;

  align-content: center;
  font-size: 16px;

  width: 100%;

  overflow-y: auto;
  overflow-wrap: anywhere;

  box-shadow: 0px 0px 0px var(--secondary);
  transition: box-shadow 0.25s ease-in-out;

  align-self: center;
  min-height: var(--input-size);
  max-height: var(--max-input-size);
}

.chat-input::placeholder {
  color: white;
}

.chat-input::-webkit-scrollbar-thumb {
  background: var(--bg);
  border-radius: var(--roundness);
}

.chat-input:focus {
  outline: none;
}

.chat-input-placeholder {
  position: absolute;

  align-self: center;
  pointer-events: none;

  z-index: 1;

  text-align: start;

  left: 1;
}

.chat-send-button,
.chat-extras-button {
  position: relative;

  align-self: end;
  font-size: 1rem;

  min-width: var(--input-size);
  max-width: var(--input-size);
  min-height: var(--input-size);
  max-height: var(--input-size);
  border-radius: 100%;

  background-color: var(--secondary);
}

.chat-extras-text {
  position: absolute;
  top: 0;
  left: 0;
  place-content: center;
  text-align: center;
  width: 100%;
  height: 100%;
}

.chat-extras-upload-input {
  display: none;
  pointer-events: none;
}
