.chat-message-container,
.chat-message-container-spaced {
  grid-row: 1;

  display: grid;
  max-width: 95%;
  width: max-content;

  grid-auto-columns: auto;
  grid-auto-rows: max-content;
  column-gap: 10px;
}

.chat-message-container-spaced {
  margin-top: 25px;
}

.chat-message-profile-picture {
  margin: 0;
  width: 50px;
  height: 50px;
  background-color: gray;
  aspect-ratio: 1/1;
  border-radius: 100%;

  grid-row: 2 / span 3;
  grid-column: 1;
}

.chat-message-no-avatar {
  margin: 0;
  width: 50px;
  height: 0px;

  grid-column: 1;
}

.chat-message-display-name {
  width: 100%;
  margin: 0;
  font-size: 100%;
  grid-row: 2;
  grid-column: 2;
  font-weight: bold;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.chat-message-time {
  width: 100%;
  margin: 0;
  font-size: 50%;
  grid-row: 2;
  grid-column: 3;
  align-self: center;
  font-style: italic;
}

.chat-message-content-emoji {
  height: 1em;
  width: auto;
  display: inline-block;
  white-space: nowrap;
}

.chat-message-content-emoji-big {
  height: 3em;
  width: auto;
  display: inline-block;
  white-space: nowrap;
}

.chat-message-content-text {
  display: inline-block;
}

.chat-message-content,
.chat-message-content-no-avatar {
  margin: 0;
  grid-row: 3;
  grid-column: 2 / span 3;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: block;
}
