.chat-message-container,
.chat-message-container-spaced {
  grid-row: 1;

  display: grid;
  max-width: 95%;
  width: 95%;

  grid-auto-columns: auto;
  grid-auto-rows: max-content;
  column-gap: 10px;

  justify-content: start;
}

.chat-message-container-spaced {
  margin-top: 25px;
}

.chat-message-profile-picture {
  margin: 0;
  width: 50px;
  height: 50px;
  background-color: gray;
  aspect-ratio: 1/1;
  border-radius: 100%;

  grid-row: 2 / span 3;
  grid-column: 1;
}

.chat-message-no-avatar {
  margin: 0;
  width: 50px;
  height: 0px;

  grid-column: 1;
}

.chat-message-display-name {
  width: 100%;
  margin: 0;
  font-size: 100%;
  grid-row: 2;
  grid-column: 2;
  font-weight: bold;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.chat-message-time {
  width: 100%;
  margin: 0;
  font-size: 50%;
  grid-row: 2;
  grid-column: 3;
  align-self: center;
  font-style: italic;
}

.chat-message-edited {
  font-size: 50%;
  align-self: center;
  font-style: italic;
  display: inline;
}

.chat-message-content-emoji {
  height: 1em;
  width: auto;
  display: inline-block;
  white-space: nowrap;
}

.chat-message-content-emoji-big {
  height: 3em;
  width: auto;
  display: inline-block;
  white-space: nowrap;
}

.chat-message-content-text {
  display: inline-block;
}

.chat-message-content[contenteditable="true"],
.chat-message-content-no-avatar[contenteditable="true"] {
  box-shadow: 0px 0px 0px 2px var(--bg-light);
  background-color: var(--bg-dark);
}

.chat-message-content,
.chat-message-content-no-avatar {
  margin: 0;
  grid-row: 3;
  grid-column: 2 / span 3;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: inline-block;
}

.chat-message-container-container-hover,
.chat-message-container-container {
  position: relative;
  display: flex;
  flex-shrink: shrink;
}

.chat-message-container-container-hover {
  background-color: color-mix(in srgb, var(--bg), black 5%);
}

.hover-div {
  position: absolute;
  right: 0;
  display: flex;
  justify-self: end;
  align-self: center;
  gap: 5px;
}

.editing-hover-div {
  display: flex;
  flex-direction: column;
  justify-self: end;
  align-self: center;
  gap: 5px;
}

.hover-button {
  width: 75px;
  height: 30px;
  font-size: 10px;
}

.chat-message-image {
  max-width: 300px;
  max-height: 30=0px;
  display: inline-block;
  position: relative;
  border-radius: var(--roundness);
  transition: border-radius 0.1s ease-in-out;
}

.chat-message-image:hover {
  border-radius: 0;
}
