.other-page,
.search-page {
  background-color: var(--bg);
  font-size: 1rem;
  padding: 1em;
  margin-top: 1em;
  word-break: break-word;

  overflow: auto;

  grid-column-start: 2;
  grid-column-end: 3;

  grid-row: 2;
}

.search-page {
  display: flex;
  flex-direction: column;
}

.logged-out-page {
  background-color: var(--bg);
  font-size: 1rem;
  padding: 1em;
  margin-top: 1em;
  overflow: hidden;
  word-break: break-word;

  display: flex;
  flex-direction: column;

  grid-column-start: 2;
  grid-column-end: 3;

  grid-row: 2;
}

.github-link-container {
  border: 2px solid var(--bg);
  color: var(--text);
  padding: 15px;
}

.goofy-goober {
  width: 100%;
  transform: translateY(-10%);
  pointer-events: none;
  -ms-interpolation-mode: nearest-neighbor;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}

.search {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-radius: 30px;
  background-color: var(--primary);

  align-content: center;
  font-size: 16px;

  width: 100%;
  height: 50px;

  overflow-y: scroll;
  overflow-wrap: anywhere;

  box-shadow: 0px 0px 0px var(--secondary);
  transition: box-shadow 0.25s ease-in-out;

  align-self: center;
  min-height: var(--input-size);
  max-height: var(--max-input-size);

  padding-left: 15px;
  padding-right: 15px;
}

.search::placeholder {
  color: white;
}

.search-view {
  width: 100%;
  height: 100%;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}

.search-frame {
  flex-basis: 100%;
}

.gsc-results {
  background-color: var(--bg) !important;
}

.gsc-webResult,
.gsc-result {
  border-radius: 0 !important;
}

.gsc-result-info {
  color: var(--secondary) !important;
}

.gsc-orderby {
  display: flex !important;
  flex-direction: column !important;
}

.gsc-orderby-label {
  color: var(--secondary) !important;
}

.gsc-cursor-page {
  background-color: var(--bg) !important;
}

@media screen and (max-width: 1000px) {
  .other-page,
  .search-page {
    grid-column: 1 / span 3;
  }
}
