@import url("../../../index.css");

.user-container-dark,
.user-container-light {
  display: flex;
  padding: 5px;
  width: 80%;
  height: 50px;
  place-self: center;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.user-container-dark {
  background-color: var(--primary);
}

.user-container-light {
  background-color: var(--secondary);
}

.user-profile-picture {
  grid-column: 1;
  width: 35px;
  height: 35px;
  background-color: gray;
  aspect-ratio: 1/1;
  border-radius: 100%;
}

.username {
  flex-basis: 100%;
  text-align: start;
  display: inline;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: black;
}

.role {
  display: inline;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  flex-basis: 100px;

  font-size: x-small;
  border-radius: 50px;
  padding: 5px;
  background-color: green;
  border: 1px solid lightgreen;
}
