@import url("../../../index.css");

.user-container-dark,
.user-container-light {
  display: flex;
  padding: 5px;
  width: 80%;
  place-self: center;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.user-container-dark {
  background-color: var(--primary);
}

.user-container-light {
  background-color: var(--secondary);
}

.user-profile-picture {
  grid-column: 1;
  margin: 0;
  width: 50px;
  height: 50px;
  background-color: gray;
  aspect-ratio: 1/1;
  border-radius: 100%;
}

.username {
  word-wrap: break-word;
  grid-column: 2;
  color: black;
}

.role {
  white-space: normal;
  overflow-wrap: normal;
  word-break: normal;
  border-radius: 50px;
  padding: 5px;
  background-color: green;
  border: 1px solid lightgreen;
}

.image-role-div {
  place-items: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
