@import url("../../../index.css");

.user-container-dark,
.user-container-light {
  display: flex;
  padding: 5px;
  width: 80%;
  height: 50px;
  justify-self: center;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.user-container-dark {
  background-color: var(--primary);
}

.user-container-light {
  background-color: var(--secondary);
}

.user-profile-picture {
  grid-column: 1;
  width: 35px;
  height: 35px;
  background-color: gray;
  aspect-ratio: 1/1;
  border-radius: 100%;
}

.username {
  flex-basis: 100%;
  text-align: start;
  display: inline;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: black;
}

.role {
  display: inline;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  flex-basis: 100px;

  font-size: x-small;
  border-radius: 50px;
  padding: 5px;
  background-color: green;
  border: 1px solid lightgreen;
}

.user-panel-div {
  position: absolute;
  right: 0%;
  background-color: var(--bg);
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  place-items: center;
  gap: 10px;
  padding: 50px;
  box-shadow: 0px 0px 10px var(--primary);
}

.user-panel-username {
  font-weight: bold;
  font-size: 30px;
  width: 250px;
  text-align: center;
  word-wrap: break-word;
  margin: 0;
}

.user-panel-profile-picture {
  aspect-ratio: 1/1;
  border-radius: 100%;
  border: 3px;
  border-style: solid;
  border-color: var(--primary);
  width: 150px;
  height: 150px;
  background-color: var(--primary);
}

.user-panel-role {
  display: inline;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  border-radius: 50px;
  padding: 5px;
  background-color: green;
  border: 1px solid lightgreen;
}
