body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 5fr 1.5fr;
  grid-template-rows: 1fr 15fr min-content;
  width: 100vw;
  height: 98vh;
  
  width: 100dvw;
  height: 98dvh;
  
  margin: 0;
  padding: 0;
}

.chat-users-panel-container,
.switcher-panel-container {
  background-color: var(--bg);
  font-size: 1rem;
  padding: 1em;
  box-sizing: border-box;

  grid-row: 2;

  width: 100%;

  justify-self: center;

  word-break: break-word;

  display: flex;
  flex-direction: column;

  overflow-y: auto;
  overflow-y: auto;

  gap: 5px;
}

.footnotes {
  margin-top: auto;
  display: flex;
  flex-direction: column;
}

.footnote {
  font-size: 10px;
}

.panel-button {
  width: 100%;
  min-height: 75px;
}

.chat-users-panel-container {
  transform-origin: left;
  grid-column: 3;
  padding-left: 0%;
  padding-right: 0%;
}

.switcher-panel-container {
  transform-origin: right;
  grid-column: 1;
}

.iframe-wrapper {
  padding-top: 1em;
  padding-bottom: 1em;
  box-sizing: border-box;
  background-color: var(--bg);
  font-size: 1rem;

  grid-column-start: 2;
  grid-column-end: 3;

  grid-row: 2;
}

.chat-window {
  padding-top: 1em;

  font-size: 1rem;
  overflow: hidden;
  word-break: break-word;

  grid-column-start: 2;
  grid-column-end: 3;

  grid-row: 2;

  gap: 15px;

  display: grid;
  grid-template-rows: 1fr min-content;
}

.chat-messages {
  background-color: var(--bg-dark);
  border-radius: 18px;
  overflow-x: hidden;
  overflow-y: scroll;

  font-size: 1rem;

  padding: 2em;

  box-sizing: border-box;

  word-break: break-word;

  display: flex;
  flex-direction: column;
}

.chat-mini-window {
  overflow: hidden;

  background-color: var(--bg);
  padding: 1em;

  box-sizing: border-box;

  grid-column: 3;
  grid-row: 2;

  width: 100%;

  gap: 15px;

  justify-self: center;

  display: grid;
  grid-template-rows: 1fr min-content;
}

@media screen and (max-width: 1000px) {
  .chat-users-panel-container,
  .chat-mini-window,
  .switcher-panel-container {
    display: none;
    pointer-events: none;
  }

  .chat-window,
  .iframe-wrapper {
    grid-column: 1 / span 3;
  }
}
