body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 6fr 1fr;
  grid-template-rows: 1fr 15fr min-content;
  height: calc(100vh - 25px);
  width: calc(100vw - 75px);
  gap: 2%;
}

.chat-users-panel-container,
.switcher-panel-container {
  border-color: var(--secondary-color);
  background-color: var(--bg-color);
  border-width: 2px;
  border-style: solid;
  font-size: 1rem;
  padding: 1em;

  grid-row: 2;

  width: 100%;

  justify-self: center;

  word-break: break-word;

  display: flex;
  flex-direction: column;

  overflow-y: auto;
  overflow-y: auto;
}

.footnotes {
  margin-top: auto;
  display: flex;
  flex-direction: column;
}

.footnote {
  font-size: 10px;
}

.panel-button {
  width: 100%;
  min-height: 75px;
}

.chat-users-panel-container {
  transform-origin: left;
  grid-column: 3;
  gap: 25px;
}

.switcher-panel-container {
  transform-origin: right;
  grid-column: 1;
  gap: 5px;
}

.iframe-wrapper {
  border-color: var(--secondary-color);
  background-color: var(--bg-color);
  border-width: 2px;
  border-style: solid;
  font-size: 1rem;

  grid-column-start: 2;
  grid-column-end: 3;

  grid-row: 2;
}

.chat-window {
  border-color: var(--secondary-color);
  background-color: var(--bg-color);
  border-width: 2px;
  border-style: solid;
  font-size: 1rem;
  padding: 1em;
  overflow-y: auto;
  overflow-x: hidden;
  word-break: break-word;

  grid-column-start: 2;
  grid-column-end: 3;

  grid-row: 2;

  border-color: var(--secondary-color);
  background-color: var(--bg-color);
  border-width: 2px;
  border-style: solid;

  display: grid;
  grid-template-rows: 1fr min-content;
}

.chat-messages {
  overflow-x: hidden;
  min-width: 100%;
  max-width: 100%;
  font-size: 1rem;
  padding: 1em;
  overflow-y: auto;
  word-break: break-word;

  display: flex;
  flex-direction: column;
}

.chat-mini-window {
  border-color: var(--secondary-color);
  background-color: var(--bg-color);
  border-width: 2px;
  border-style: solid;
  padding: 1em;

  grid-column: 3;
  grid-row: 2;

  transform-origin: left;

  width: 100%;
  
  justify-self: center;

  overflow-y: scroll;

  word-break: break-word;

  display: grid;
  grid-template-rows: 1fr min-content;
}

@media screen and (max-width: 1000px) {
  .chat-users-panel-container,
  .chat-mini-window,
  .switcher-panel-container {
    display: none;
    pointer-events: none;
  }

  .chat-window,
  .iframe-wrapper {
    grid-column: 1 / span 3;
  }
}
