:root {
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  background-color: var(--bg);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  display: none;
}

::-webkit-scrollbar-thumb {
  background: var(--highlight);
  border-radius: var(--roundness);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--bg-light);
  border-radius: var(--roundness);
}

p {
  place-self: center;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  color: var(--text);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

iframe,
form,
div {
  border-radius: var(--roundness);
}

button {
  border-radius: var(--roundness);
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
  width: 100%;
}

button:hover {
  border-color: var(--highlight);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* Thanks to https://www.iamsajid.com/ui-colors/ for this template/picker thing*/
:root {
  /* hsl (fallback color) */
  --bg-dark: hsl(120, 7%, 22%);
  --bg: hsl(124, 16%, 17%);
  --bg-light: hsl(116, 36%, 68%);
  --text: hsl(116 100% 91%);
  --text-muted: hsl(116 27% 66%);
  --highlight: hsl(117 24% 35%);
  --border: hsl(117 33% 24%);
  --border-muted: hsl(119 57% 14%);
  --primary: hsl(117 31% 34%);
  --disabled-primary: hsla(117, 31%, 34%, 0.5);
  --secondary: hsl(294 42% 72%);
  --danger: hsl(9 42% 65%);
  --warning: hsl(51 29% 53%);
  --success: hsl(148 27% 56%);
  --info: hsl(217 46% 66%);
  /* oklch */
  --bg-dark: oklch(34.596% 0.01739 145.292);
  --bg: oklch(30% 0.03 145);
  --bg-light: oklch(61% 0.08 143);
  --text: oklch(0.96 0.08 143);
  --text-muted: oklch(0.76 0.08 143);
  --highlight: oklch(0.5 0.08 143);
  --border: oklch(0.4 0.08 143);
  --border-muted: oklch(0.3 0.08 143);
  --primary: oklch(0.5 0.1 143);
  --disabled-primary: oklch(50.127% 0.10113 142.811 / 0.5);
  --secondary: oklch(0.76 0.1 323);
  --danger: oklch(0.7 0.08 30);
  --warning: oklch(0.7 0.08 100);
  --success: oklch(0.7 0.08 160);
  --info: oklch(0.7 0.08 260);
}

@media (prefers-color-scheme: light) {
  :root {
    /* hsl (fallback color) */
    --bg-dark: hsl(115 39% 88%);
    --bg: hsl(115 68% 93%);
    --bg-light: hsl(115 100% 98%);
    --text: hsl(125 100% 2%);
    --text-muted: hsl(117 33% 24%);
    --highlight: hsl(116 100% 96%);
    --border: hsl(116 19% 47%);
    --border-muted: hsl(116 21% 58%);
    --primary: hsl(116 18% 58%);
    --secondary: hsl(293 34% 30%);
    --danger: hsl(8 32% 41%);
    --warning: hsl(51 46% 30%);
    --success: hsl(150 37% 33%);
    --info: hsl(217 34% 43%);
    /* oklch */
    --bg-dark: oklch(0.92 0.04 143);
    --bg: oklch(0.96 0.04 143);
    --bg-light: oklch(1 0.04 143);
    --text: oklch(0.15 0.08 143);
    --text-muted: oklch(0.4 0.08 143);
    --highlight: oklch(1 0.08 143);
    --border: oklch(0.6 0.08 143);
    --border-muted: oklch(0.7 0.08 143);
    --primary: oklch(69% 0.07 143);
    --secondary: oklch(0.4 0.1 323);
    --danger: oklch(0.5 0.08 30);
    --warning: oklch(0.5 0.08 100);
    --success: oklch(0.5 0.08 160);
    --info: oklch(0.5 0.08 260);
  }
}

:root {
  /*
  --secondary-color: rgb(144, 151, 84); 
  --text-color: white; */
  --roundness: 8px;
}

::placeholder {
  color: var(--primary);
}

button {
  background-color: var(--primary);
  box-shadow: 0px 0px 0px var(--primary);
  transition: box-shadow 0.25s ease-in-out;
}

button,
input {
  color: var(--text-color);
  box-shadow: 0px 2px 2px oklch(0 0 0 / 0.2), 0px 4px 4px oklch(0 0 0 / 0.1);
}

@view-transition {
  navigation: auto;
}

::view-transition-group(root),
::view-transition-old(root),
::view-transition-new(root) {
  animation-duration: 0.2s;
}
